
.l-container-clearfix{
    margin: 40px auto 0;
    width: 1020px;
    padding: 0 0 40px;

  .l-content_credit{
    width:700px;
    float:right;
    background-color:$white;
    .l-chapter-container_credit{
      .l-chapter-head_credit{
        @include font_basic(#333, 24px, bold, null, center);
        padding: 12px 0;
      }
      #card-form{
        padding: 24px 64px 64px 64px;
        border-top: #f5f5f5 solid 2px;
        .l-single-content_input{
          margin: 0 126px;
          .form-group_card{
            @include div_basic(320px, null);
            @include font_basic(#333, 14px, null, null);
            margin-top: 40px;
            .form-label{
              font-weight: bold;
              float: left;
            }
            .form-require{
              @include font_basic(#fff, 12px, bold);
              background: #ea352d;
              margin: 0 0 0 8px;
              padding: 2px 4px;
              vertical-align: top;
            }
            .input-default{
              @include font_basic(null, 16px, null, 1.5);
              @include div_basic(320px,48px, #fff);
              margin: 8px 0 10px 0;
              padding: 10px 16px 8px 16px;
              border-radius: 4px;
              border: 1px solid #ccc;
            }
            .signup-card-list{
              &__visa, &__master, &__card, &__jcb, &__dinersclub, &__discover{
                display: inline;
              }
            }
            .select-wrap{
              margin-top: 8px;
              position: relative;
              width: 140px;
              .select-default{
                -webkit-appearance: none;
                @include div_basic(112px,48px, #fff);
                padding: 10px 16px 8px 16px;
                cursor: pointer;
              }
              .fa-angle-down{
                @include absolute(10px, null, null, 80px);
                color: #888;
                font-size: 30px;
              }
              .card_month, .card_year{
                padding-left: 8px;
              }
            }
            .signup-seqcode{
              .question-card{
                @include font_basic(white, 12px, null, 14px, center);
                background: #0099E8;
                border-radius: 50%;
                display: inline-block;
                width: 15px;
                float: right;
              }
              .question_card_number{
                float: right;
                @include font_basic(#0099E8, 12px, null, 14px, center);
              }
            }
            #modal-open {
              position: relative;
            }
            .modal{
              position: fixed;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              display: none;
              width: 100%;
              height: 100%;
              background-color: rgba(0, 0, 0, 0);
            }
            #modal_overlay{
              z-index: 1;
              position: absolute;
              top: 745px;
              left: 63%;
              -webkit-transform: translate(-50%, -50%);
              display: none;
              width: 270px;
              height: 130px;
              max-width: 270px;
              padding: 30px;
              background-color: #ccc;
              border-radius: 8px;
              .modal_inner{
                &__text{
                  padding-bottom: 5px;
                }

              }
            }


          }

        .form-submit_credit{
          margin-top: 64px;
          .btn-red{
            background: #ea352d;
            border: 1px solid #ea352d;
            color: $white;
          }
          .btn-default{
            margin:24px 0;
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            border: 1px solid transparent;
            -webkit-transition: all ease-out .3s;
            transition: all ease-out .3s;
            cursor: pointer;
            text-align: center;
          }
        }


        }


      }
    }
  }

}
