$blue:#0099e8;
$white:#fff;
$grey:#eee;
$black:#333;
$red  :#ea352d;

// 商品出品ページ
$sell-width: 700px;
$sell-padding: 40px;

//ドロップダウンメニュー
$parent_name: humans_category;
$hover_name: human;
$children_name: clothes_content;
