              .sold-text {
                @include absolute(0.7em, 0em);
                @include div_basic(4em, 1em, null);
                @include font_basic(white, 20px, bold);
                transform: rotate(-45deg);
                z-index: 2;
              }
              .sold-box {
                @include div_basic(100px, 100px);
                @include absolute(0);
                background-color: rgba(0,0,0,0);
                border-top: 50px solid $red;
                border-left: 50px solid $red;
                border-right: 50px solid transparent;
                border-bottom: 50px solid transparent;
              }


.wrapper {
  padding-bottom: 4em;
  .main-content {
    width: 940px;
    margin: 0 auto;
    .pick-up-container {
      &__title {
        font-size: 28px;
        font-weight: bold;
        text-align: center;
      }
      .pick-up {
        margin-bottom: 50px;
        &__view-all {
          text-align: right;
          a {
            color: $blue;
            text-decoration: none;
          }
        }
        &__category {
          font-size: 22px;
          font-weight: bold;
          color: $blue;
          text-align: center;
          display: block;
          margin: 1em 0;
          text-decoration: none;
        }
        .item-boxes {
          display: flex;
          height: 360px;
          .item-box {
            margin: 0 0 0 15px;
            padding: 0;
            max-width: 220px;
            height: 330px;
            a, a:link, a:visited, a:hover {
              color: black;
            }
            a {
              text-decoration: none;
              position: relative;
              .sold-text {
                @include absolute(0.7em, 0em);
                @include div_basic(4em, 1em, null);
                @include font_basic(white, 20px, bold);
                transform: rotate(-45deg);
                z-index: 2;
              }
              .sold-box {
                @include div_basic(100px, 100px);
                @include absolute(0);
                background-color: rgba(0,0,0,0);
                border-top: 50px solid $red;
                border-left: 50px solid $red;
                border-right: 50px solid transparent;
                border-bottom: 50px solid transparent;
              }
              .item-box-image {
                width: 220px;
                height: 220px;
              }
              .item-box-content {
                @include div_basic(220px, 110px, #fff);
                padding: 1em;
                padding-bottom: 0;
                &__name {
                  font-size: 16px;
                  height: 50px;
                }
                .item-info {
                  display: flex;
                  justify-content: space-between;
                  .price-box {
                    &__price {
                      @include font_basic(black, 20px, bold);
                    }
                    &__tax {
                      font-size: 10px;
                    }
                  }
                  .likes-box {
                    line-height: 35px;
                    i {
                      @include font_basic(#ccc, 20px);
                    }
                    span {
                      font-size: 16px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
