body{
  margin:0;
  background: rgb(245, 245, 245);
  font-family:"Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;

  .pc-header.visible-sp{
    width:100%;
    height:90px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0 0 10px;
    background-color:$white;
    .pc-header-inner{
      width:1020px;
      height:90px;
      margin:0 auto;
      padding: 8px 0 0;
    }
  }

.link-to-root {
  display: block;
}
h1.l.left {
    width:134px;
    height:36px;
    float:left;
    position:absolute;
    box-sizing: content-box;
    margin:0;
    z-index: 2;
  }
  .search-box {
    height: 36px;
    width: 1000px;
    margin:0;
    position:relative;
    .input-default{
      height:36px;
      width:850px;
      float:right;
      -webkit-appearance: textarea;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
      height: 36px;
      padding: 9px 32px 9px 8px;
      background: #fafafa;
      margin-bottom: 0;
    }
    i.fas.fa-search{
      float:right;
      position:absolute;
      right: 0;
      margin:10px;
    }
  }




.pc-header-nav-box-clearfix{
  width:1020px;
  height:38px;
  margin: 8px 0 0;
  .pc-header-nav-root{
    position: relative;
    height: 38px;
    line-height: 32px;
    nav.l-left{
      ul.pc-header-nav{
        list-style:none;
        padding-bottom: 5px;
        .right-nav {
          float: right;
          width: 120px;
          a, a:link, a:visited, a:hover {
            color: inherit;
            text-decoration: none;
            display: block;
            border-radius: 5px;
            float: right;
            padding: 0 0.5em;
          }
          &__registration {
            width: 90px;
            height: 30px;
            border: 1px solid $blue;
            color: $blue !important;
          }
          &__login {
            background-color: $red;
            color: white !important;
          }
        }
        li.two{
        }
        ul.pc-header-nav-parent-wrap{
              padding-left:0px;
              position: absolute;
              top: 38px;
              left: -34px;
              z-index: 1000;
              background: $white;
              -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
              box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
              list-style:none;
              width:150px;
              height:350px;
          li.pc-header-nav-parent{
          display: none;
          width: 224px;
          a{
            text-decoration:none;
            float:right;
          }

            h3{
                font-weight: 400;
                font-size: 14px;
                 a{
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  font-size: 14px;
                  height:32px;
                }
              }

            ul.pc-header-nav-child-wrap{
              position: absolute;
              top: 0;
              left: 224px;
              bottom: 0;
              background: $white;
              -webkit-box-shadow: 1px 0 0 0 #eee inset;
              box-shadow: 1px 0 0 0 #eee inset;
              list-style: none;
              li.pc-header-nav-child-wrap{

          }
        }
      }
    }
  }
}


nav.l-left{
    width:254px;
    height:38px;
    margin: 0px;
    padding: 0;
    box-sizing: inherit;
    ul.pc-header-nav{
      width:254px;
      height:38px;
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      li.menu_category{
        width:126px;
        height:38px;
        margin-right:0px;
        float:left;
        color:black;
        .category_list_link {
          color: #333;
          font-size: 14px;
          line-height: 26px;
          text-align: left;
          width: 150px;
          height: 30px;
          background-color: #fff;
          box-sizing: border-box;
          display: block;
          a, a:link, a:visited, a:hover {
            color: inherit;
            text-decoration: none;
            display: block;
          }
          .header_category {
            @include first_content;
            .humans_category {
              @include second_content;
              min-height: 585px !important;
              .clothes_content {
                @include third_content;
                width: 230px !important;
              }
            }
          }
        }
        .category_list_link:hover .header_category {
          color: $black;
          display: block;
        }
      }

      .l-right{
      width:400.75px;
      height:38px;
      box-sizing: inherit;
      float:right;
      position:absolute;
      margin-left:600px;
      ul.pc-header-user-nav{
        display: flex;

      li.one{
        width:120.94px;
        height:38px;
        list-style:none;
        a.sp-header-user-icon.pc-header-nav-root{
        width:112.81px;
        height:38px;
          figure{
            width:32px;
            height:32px;
            float:left;
            margin:0;
            img{
              width:32px;
              height:32px;
              vertical-align: middle;
              border-radius: 50%;
            }
          }

         div{
          width:75px;
          height:32px;
          float:left;
           }
         }
       }

      li.two{
        width:100.94px;
        height:38px;
        list-style:none;
        margin:0 auto;
        a{
        width:112px;
        height:38px;
        margin-left:10px;
        cursor: pointer;
            }
              }
      li.three{
        width:120px;
        height:38px;
        list-style:none;
        float:right;
        a{
        width:112px;
        height:38px;
        cursor: pointer;
             }
            }
          }
        }
      }
    }
  }
}

.sales-points-label {
  font-size: 16px;
  margin-top: 2em;
}

.bread-crumbs{
  width:100%;
  height:49px;
  position: relative;
  border-top: 1px solid #eee;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background: #fff;
  ul{
    list-style:none;
    width:1020px;
    height:49px;
    margin: 0 auto;
    padding: 17px 0 16px;
    white-space: normal;
    overflow: visible;
    li{
      float:left;
      display: inline-block;
      font-size: 14px;
      line-height:16px;
      span{

      }
    }
  }

}

.l-container-clearfix {
  margin: 40px auto 0;
  width: 1020px;
  padding: 0 0 40px;
  overflow: auto;
  .l-content{
    width:700px;
    height:179px;
    float:right;
    background-color:$white;
    .l-single-inner{
      width:600px;
    .l-single-content
    {
      width:320px;
      height:50px;
      max-width: 320px;
      margin: 0 auto;
      a{
          text-decoration: none;
          color:$white;
      .btn-red
      {
        background: #ea352d;
        border: 1px solid #ea352d;
        color: $white;
      }
      .btn-default
      {
        margin:50px 50px;
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        border: 1px solid transparent;
        -webkit-transition: all ease-out .3s;
        transition: all ease-out .3s;
        cursor: pointer;
        text-align: center;
        }
      }
    }
  }
}



.l-side{
    width:280px;
    height:1252px;
    margin: 0 40px 0 0;
    .nav.mypage-nav
    {
    width:280px;
    height:1252px;
    ul.mypage-nav-list{

      padding-left:0px;
      margin-bottom:40px;

      li{
        width:280px;
        height:49px;
        border-top: 1px solid #eee;
        list-style: none;

          a.mypage-nav-list-item{
            position: relative;
            display: block;
            min-height: 30px;
            padding: 16px;
            background: $white;
            color: #333;
            margin:0 auto;
            box-sizing:content-box;
            text-decoration: none;
            border-style: solid;
            border-width: 0;
            border-top: 1px solid #eee;
            i{
              position: absolute;
              right: 16px;
              color: #ccc;
              height:8.59px;
              width:14px;
              margin-bottom:10px;
            }
          }
      }
    }
        h3.mypage-nav-head{

        width:280px;
        height:16px;
        margin-top:20px;
        display: block;

        }
      }
}
}

aside.app-banner{
  margin-top:30px;
  width:100%;
  height:260px;
  margin:0 auto;
  background-image: url("/images/mercari_banner.jpg");

  }


 .app-banner-pc{
    width:750px;
    height:260px;
    margin:0 auto;
    top: 0;
    overflow: hidden;
    position: relative;



    .app-banner-pc-inner{

      width:420px;
      height:166px;
      top:15%;
      position: absolute;

      h2{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        line-height: 1.4;
        font-size: 24px;
        color:$white;
        margin:0px;
      }
      p{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        margin: 10px 0 0;
        font-size: 35px;
        color:$white;
      }
      .app-banner-icon{
        width:420px;
        height:68px;
        margin: 20px 0 0;
        display: flex;
        figure.icon-image{
          width:68px;
          height:68px;
          margin:0;
          img{
            width:68px;
            height:68px;
          }
        }
        ul.banner{
          height:68px;
          line-height: 68px;
          list-style: none;
          display: flex;
          li{
            width:133px;
            height:68px;
            a:hover{
              opacity:0.8;
              float:left;
            }
            img {
              width:133px;
              height:68px;
            }
          }
        }
        ul.banner li {
          padding-left:1.5em;
        }
        ul.banner li + li {
          padding-left: 1em;
        }
      }
    }



    figure.phone-image{
      width:300px;
      height:262px;
      margin:0;
      position: absolute;
      float:right;
      margin-left:420px;
      img
      {
        width:300px;
        height:262px;
        position: absolute;
      }
    }
  }
}


footer.global-footer{
       padding: 60px 0;
       background: #212121;
       color:$white;
       height:617px;
       .nav{
        width:1180px;
        height:402px;
        margin:0 auto;
        ul{
            text-align:center;
            padding-inline-start: 40px;
            width:1020px;
            height:402px;
            list-style:none;
            float:left;

          li.footer-cell{
            width:234.59px;
            height:402px;
            margin-right:20px;
            float:left;

            h2.footer-head{
              padding-left:40px;
              width:234px;
              height:16px;
              font-size:16px;
                  }
            ul{
              width:234px;
              height:356px;
              li{
                width:234px;
                height:14px;
                margin: 24px 0 0;

               }
             }
          }
          ul.footer-nav-lang{
            width:234px;
            height:98px;

            li.usa{
              opacity:0.5;
            }
            li.uk{
              opacity:0.5;
            }
          }
        }
      }
    }

   a.footer-logo
    {
      width:100%;
      height:33px;
      margin-top:100px;
      float:left;
      img{
        display: table-cell;
        vertical-align: middle;
        margin:0 auto;

      }

    }
  p.footer-copyright{
    width:100%;
    height:14px;
    text-align:center;
    small{
      margin-top:10px;
    }

  }

  a.footer-sell-btn{
    width:160px;
    height:160px;
    position: fixed;
    bottom: 32px;
    right:  32px;
    z-index: 1000;
    border-radius: 50%;
    background: #ea352d;
    color: #fff;
    text-align: center;
    text-decoration: none;


    div{
      font-size: 22px;
      margin-top:20px;

    i.fas.fa-camera.fa-5x{
      margin:0 auto;

      }
    }
  }
