//アカウント作成済みユーザーログイン画面
.single-main{
  width: 100%;
  background-color: #f5f5f5;
  .login-panel{
    .login-no-account{
      padding: 40px 64px;
      background-color: white;
      width: 300px;
      margin: 0px auto;
      border-bottom: 1px solid #f5f5f5;
      p{
        font-size: 14px;
        text-align: center;
      }
      a{
        width: 300px;
        display: block;
        margin: 0 auto;
        line-height: 48px;
        font-size: 14px;
        color: white;
        background-color: #0099e8;
        text-align: center;
        padding: 0px 10px;
      }
    }
    .login-form-inner{
      width: 300px;
      margin: 0 auto;
      padding: 32px 64px;
      background-color: white;
      border-bottom: 1px solid #f5f5f5;
      .btn-sns-facebook{
        width: 300px;
        display: block;
        margin: 0 auto;
        line-height: 48px;
        font-size: 14px;
        color: white;
        background-color: #385185;
        text-align: center;
        padding: 0px 10px;
        i.fab.fa-facebook{
          float: left;
          margin: 15px 0px;
          font-size: 1.5em;
        }
      }
      .btn-sns-google{
        margin-top: 16px;
        width: 300px;
        display: block;
        margin: 16px auto;
        line-height: 48px;
        font-size: 14px;
        color: white;
        background-color: #dc4e41;
        text-align: center;
        padding: 0px 10px;
        i.fab.fa-google-plus-g{
          float: left;
          margin: 15px 0px;
          font-size: 1.5em;
        }
      }
    }
    .no-robot {
  margin-top: 24px;
  width: 300px;
  height: 78px;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  background: rgb(245, 245, 245);
  &__left {
    float: left;
    &__checkbox {
      margin: 24px 0 0 10px;
      height: 24px;
      position: absolute;
      width: 24px;
    }
    p {
      padding: 24px 0 0 50px;
    }
  }
  &__right {
    float: right;
    width: 120px;
    padding-top: 15px;
    img {
      width: 32px;
      height: 32px;
      display:table-cell;
      margin: 0 auto;
    }
    p {
      font-size: 8px;
      color: #c1c1c1;
      text-align: center;
    }
  }
}
    .login-meil{
      width: 300px;
      height: 300px;
      margin: 0 auto;
      padding: 24px 64px 32px;
      background-color: white;
      .form{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        .input-default{
          width: 300px;
          height: 40px;
          display: block;
          margin: 16px auto;
          line-height: 48px;
          font-size: 14px;
          text-align: left;
          padding: 0px 10px;
        }
        .login-submit{
          margin-top: 16px;
          width: 300px;
          display: block;
          margin: 16px auto;
          line-height: 48px;
          font-size: 14px;
          color: white;
          background-color: #ea352d;
          text-align: center;
          padding: 0px 10px;
        }
        a{
          color: blue;
          font-size: 12px;
        }
      }
    }
  }
}
