  .flash{
    @include div_basic(100%, 40px);
    background-color:#D0F0D0;
    color:green;
    text-align:center;
    line-height: 40px;
    font-size:15px;
    float: left;
    z-index: 0;

 }

  // 入力フォーム共通
  .address-form-box {
    margin-bottom: 2em;
    .label-box {
      height: 30px;
      display: flex;
      &__name {
        font-weight: bold;
        padding-top: 2px;
      }
      &__option {
        @include font_basic(white, 0.8em);
        background-color: $red;
        height: 1em;
        padding: 0 5px 8px;
        margin-left: 8px;
      }
      .required {
        background-color: $red;
      }
      .optional {
        background-color: #ccc;
      }
    }
    .address-text-box {
      width: 320px;
      height: 48px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      padding: 10px 15px;
      margin-bottom: 8px;
      border-radius: 5px;
      font-size: 16px;
    }
  }
  // セレクトボックス
  .prefecture-select-box {
    @include div_basic(320px, 48px);
    position: relative;
    select {
      -webkit-appearance: none;
      width: 100%;
      height: 48px;
      background-color: white;
      border-color: #ddd;
      padding-left: 1em;
      cursor : pointer;
    }
    &__arrow {
      @include absolute(10px, 15px, null, null);
      @include font_basic(#aaa, 30px);
      -webkit-text-stroke: 2px white;
    }
  }

  .address-form-wrapper {
    @include div_basic(700px, null);
    float: right;
    &__title {
      @include font_basic(black, 24px, bold);
      height: 50px;
      box-sizing: border-box;
      line-height: 50px;
      text-align: center;
      border-bottom: 2px solid #f5f5f5;;
    }
      .address-form-content {
        padding: 64px;
        .address-form-with {
          width: 320px;
          margin: 0 auto;
          .address-form-box {
            &__submit {
              @include div_basic(320px, 48px, $red);
              color: white;
            }
            &__submit:hover{
              cursor:pointer;
              opacity:0.8;
            }
          }
        }
      }
  }


